/*styles*/
body{
    background-image: url("../res/image/background_image.jpg");
    margin: 0;
}

/***********************/
/*******navbar**********/
/***********************/
.ul-navabar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

.ul-navabar li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

li > a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.ul-navabar a{
    text-decoration: none;
    font-size: larger;
}