/*styles*/

body {
    background-image: url("../res/image/background_image.jpg");
    background-color: lightgray;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    margin-left: 3em;
}

/***********************/
/*******navbar**********/
/***********************/
nav ul li {
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: lightgray;
}

nav ul li {
    display: block;
    position: relative;
    background: lightgray;
}

li ul {
    display: none;
}

.main-navigation li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    font-size: larger;
    color: white;
}

.main-navigation li > a:hover {
    background: darkgray;
}

li:hover > ul {
    display: block;
    position: absolute;
}

li:hover li {
    float: none;
}

.main-navigation li:hover > a {
    background: darkgray;
}

li:hover li a:hover {
    background: #2c3e50;
}

.main-navigation li ul li {
    border-top: 0;
}

ul ul ul {
    left: 100%;
    top: 0;
}

ul:before, ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

ul:after {
    clear: both;
}

table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    border: 1px solid lightslategrey;
    background-color: azure;
}

th, td {
    background-color: lightgoldenrodyellow;
    text-align: center;
    padding: 15px;
}

a[content="fun"]:link {
    color: brown;
    text-decoration: none;
}

a[content="fun"]:active {
    color: crimson;
    text-decoration: none;
}

a[content="fun"]:visited {
    color: chocolate;
    text-decoration: none;
}

a[content="fun"]:hover {
    color: darkred;
    text-decoration: none;
}

input:checked {
    height: 30px;
    width: 30px;
}

input:disabled {
    height: 5px;
    width: 5px;
}

p:empty {
    background-color: antiquewhite;
}

@media screen and (max-width: 600px) {
    body {
        background-image: none;
        background-color: white;
    }
}

@media screen and (max-height: 600px) {
    body {
        background-image: none;
        background-color: white;
    }
}

.red-shadow {
    text-shadow: 2px 2px #FF0000;
}

div.rounded-border {
    border: 2px solid saddlebrown;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}