/*styles*/

.table-navbar {
    margin-right: auto;
    margin-left: auto;
    border: 5px double black;
    background-color: white;
}

.table-navbar td {
    width: 200px;
    height: 50px;
    background-color: white;
    text-align: center;
}

td > a{
    text-decoration: none;
    font-size: larger;
}

.table-navbar td:hover {
    background-color: orchid;
}
.table-navbar td:hover a {
    color: white;
}
body{
    background-image: url("../res/image/background_image.jpg");
}